.radial_animation {
  animation: radial-sweep 1s linear infinite;
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, transparent 100%);
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 50%,
    transparent 100%
  );
  background: rgba(255, 255, 255, 0.5); /* 밝아지는 효과 */
}
